*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}
html{
    background-color: black;
    color: white;
    font: normal 20px Arial;      
}
#container{
    margin: auto;
    margin-top: 4rem; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #1f2041;
    max-width: 90%;
    border-radius: 40px;
    height: fit-content;
    padding: 1em;
    gap: 1rem;          
}
#top-title{
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    text-shadow: -6px 6px 0px rgb(0, 0, 0);
    font-size: 2.5em;
    margin-left: 3rem;
    margin-right: 2rem;                             
}
#top-logo{
    filter:drop-shadow(-4px 4px 0px rgba(0, 0, 0, 0.25));
}

#baners{
    display: flex;    
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;          
}
#poster{
    filter:drop-shadow(-10px 10px 0px rgba(0, 0, 0, 0.25));    
} 

#description{
    display:flex;
    max-width: auto;    
    min-height: fit-content;
    flex-direction: column;
    /* fazer barra de scrollagem interna? */
}
#card{
    background: #7a7976;
    border-radius: 40px;
    justify-content: center;
    max-width: 90%; /* consertar padding da direita em algumas res */
    box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.25);
    min-height: fit-content;      
}
#title{
    margin: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;     
}
#sinopse{
    margin: 1.5rem;   
}
#genero{
    margin: 1.5rem;
    margin-top: 2.5rem;   
}
#info{
    margin: 1.5rem;  
}
.button-div{
    display: flex;    
    align-items: center;
    justify-content: center;
    max-width: 90%;
    min-height: 10rem;              
}
button{
    border-radius: 40px; 
    background: #EAC435;
    font-size: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border: 0;
    box-shadow: -10px 10px 0px rgba(0, 0, 0, 0.25); 
} 
button:hover{
    background-color: #ffffff;
    transition: 0.2s;        
}
button:active{
    transform: translate(-6px, 6px);
    box-shadow: -4px 4px 0px rgba(0, 0, 0, 0.25);
} 

#credits{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 85%;
    margin-bottom: 1rem;        
}
@media (max-width: 820px){
    #credits{        
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;        
    }

    #container{
        display: flex;
        flex-direction: column; 
        align-items: center;
        gap: 2rem;
    }

    #top-title{        
        flex-direction: column;
        margin-top: 1em;
        align-items: center;
        text-align: center;
        gap: 2rem;        
    }
    #poster{
        height: 34rem;
    }
    html{
        font: normal 12px Arial;      
    }    
}
@media (max-width: 1030px){
    .button-div{
        max-width: 100%;
    }
    #card{
        max-width: 100%;
    }

}